x-variables:
  - &LDAP_HOST "ldap"
  - &LDAP_DOMAIN "domain.tld"

volumes:
  ldapdata_config:
    driver: local
  ldapdata_db:
    driver: local
  ldapdata_ssl:
    driver: local
  phpdata:
    driver: local
    
networks:
  net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.8.128/26 #192.168.8.57 - 192.168.8.62(bc:63)

services:
  piwigo.ldap:
    container_name: piwigo.ldap
    hostname: ldap
    image: "rroemhild/test-openldap"
    restart: "unless-stopped"
    volumes:
      - ldapdata_db:/var/lib/ldap # Error: the config directory (/etc/ldap/slapd.d) is empty but not  the database directory (/var/lib/ldap) 
      - ldapdata_config:/etc/ldap/slapd.d
      - ldapdata_ssl:/etc/ldap/ssl
    ports:
      - 389:10389
      - 636:10636
    environment:
      TZ: "Europe/Amsterdam"
      LDAP_TLS: "True"
      LDAP_LOG_LEVEL: 256
      LDAP_FORCE_STARTTLS: "True"
    networks:
      - net
    

  piwigo.pla:
    container_name: piwigo.pla
    hostname: piwigo.pla
    image: "osixia/phpldapadmin:latest"
    environment:
      TZ: "Europe/Amsterdam"
      PHPLDAPADMIN_LDAP_HOSTS: "#PYTHON2BASH:[{'ldap':[{'server':[{'port':10389},{'tls':False}]}]}]"
      PHPLDAPADMIN_HTTPS: "false"
    command: --loglevel debug
    profiles:
      - debug
    ports:
      - 7082:80
    restart: "unless-stopped"      
    networks:
      - net

      
#composer
  piwigo.composer:
    container_name: piwigo.composer
    hostname: piwigo.composer
    image: composer:latest
    environment:
      - COMPOSER_CACHE_DIR=/tmp/.cache/composer
    volumes_from:
      - piwigo.php
    working_dir: /app/piwigo/plugins/Ldap_Login
    restart: "no"
    profiles:
      - testing
    networks:
      - net
      
  #phpunit
  piwigo.phpunit:
    container_name: piwigo.phpunit
    hostname: piwigo.phpunit
    image: php:$VERSION_PHP-cli
    restart: "no"
    depends_on:
      - piwigo.ldap
      - piwigo.db
    volumes_from:
      - piwigo.php
    working_dir: /app/piwigo/
    entrypoint: /app/piwigo/plugins/Ldap_Login/vendor/bin/phpunit
    profiles:
      - testing
    networks:
      - net
